.TodoList {
  width: 800px;
}

.ToDoList__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid black;
}

.ToDoList__text {
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 30px;
}

.ToDoList__p {
  font-size: 30px;
  margin-left: 35px;
}
